@use './variables';

body {
  position: relative;
  background: center / cover no-repeat url('../../img/night.png');
  background-attachment: fixed;
}

.night {
  position: relative;
  background: center / cover no-repeat url('../../img/night.png');
  background-attachment: fixed;
}

.day {
  position: relative;
  background: center / cover no-repeat url('../../img/after_noon.png');
  background-attachment: fixed;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
  background-color: rgba(110, 110, 110, 0.696);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.back {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  background-color: variables.$clr-white;
  border-radius: 4px;
  height: 3px;
  position: relative;
  width: 30px;
}

.hamburger::before {
  background-color: variables.$clr-white;
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: -10px;
  width: 30px;
}

.hamburger::after {
  background-color: variables.$clr-white;
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: 10px;
  width: 30px;
}

.effect-17 ~ label {
  position: absolute;
  left: 5%;
  bottom: 30%;
  color: rgb(143, 142, 142);
  transition: 0.4s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-17:focus ~ label,
.has-content.effect-17 ~ label {
  bottom: 85px;
  font-size: 1.5rem;
  color: rgb(143, 142, 142);
  transition: 0.4s;
}
