@use './generals';
@use './mixins';
@use './resets';
@use './variables';

@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}

h1,
h2,
p,
a {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-weight: 200;
}

.input-section {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 12%;
  left: 60%;

  label {
    color: variables.$clr-white;
    font-size: 2rem;
    padding-left: 5%;
    color: rgba(209, 209, 209, 0.433);
  }

  input {
    border-radius: 10pc;
    padding-inline-start: 8px;
    border: solid 1px gray;
    background-color: transparent;
    color: rgba(209, 209, 209, 0.433);
    min-height: 4vh;
    max-width: 70%;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  button {
    display: block;
    border-radius: 20px;
    padding: 3%;
    margin-top: 10px;
    margin-left: 35px;
    border: none;
    background-color: rgba(209, 209, 209, 0.433);
  }
}

.temps-section {
  max-height: 53vh;
  border-radius: 15%;
  margin-top: 5%;
  position: relative;

  img {
    height: 400px;
    height: 280px;
  }
}
.weather-output {
  background-color: rgba(110, 110, 110, 0.433);
  margin-top: 3%;
  border-radius: 12%;
  min-height: 35vh;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 10px;
  padding-block-start: 25px;

  p {
    font-size: 1.4rem;
    padding-bottom: 35px;
    color: variables.$clr-white;
    font-weight: 400;
  }
}

.country-name {
  color: rgba(209, 209, 209, 0.433);
  text-align: center;
  font-size: 3rem;
}

.temps-amount {
  font-size: 5rem;
  padding-left: 150px;
  color: variables.$clr-white;
  padding-top: 20px;
}

.hide {
  display: none;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;

  img {
    height: 180px;
    margin: 0 auto;
  }
}
